{% include base_path %}

<div class="footer-links">

  <a href="{{ base_path }}/donate/"><i class="fas fa-donate"></i>&nbsp;Donate</a>

  <a href="https://gitlab.com/qtepcoin/trustwallet"><i class="fab fa-gitlab" aria-hidden="true"></i> GitLab</a>
</div>
