<div id="walletsPerCatContainer" class="page-section selected">
{%- include base_path -%}

{%- assign verdicts = "nobinary,reproducible,diy,nonverifiable,ftbfs,nosource,custodial,nosendreceive,noita,plainkey,prefilled" | split: "," -%}

<h2 class="section-label">Wallets per Category&nbsp;<a href="#gridOfWallets1" style="color:#ccc">&para;</a></h2>
<a class="switch-link-btn-long-string" id="SwitchToDownloadsView">Switch to Downloads per Category&nbsp;<i class="fas fa-random"></i></a>

<script>
  function showAll() {
    $( ".moreIcons" ).toggleClass( 'hidden' );
    $( ".noMoreIcons" ).toggleClass( 'hidden' );
  }
</script>

<table id="gridOfWallets1" class="lazy">
  <tr>
    <td>
      <count><span class="humanised-numbers -bold"><l>0</l></span></count><span><a href="/methodology/#noAudit">Audited?</a></span>
    </td>
    <td>
    </td>
  </tr>
  {%- for v in verdicts -%}
    {%- assign iphonePosts  = site.iphone  | sort: "appId" | reverse | sort: "reviews" | reverse -%}
    {%- assign androidPosts = site.android | sort: "appId" | reverse | sort: "users"   | reverse -%}
    {%- include grid_of_wallets_platform.html platform = "iphone"   platformPosts = iphonePosts -%}
    {%- include grid_of_wallets_platform.html platform = "android"  platformPosts = androidPosts -%}
    {%- include grid_of_wallets_platform.html platform = "hardware" platformPosts = site.hardware -%}
    {%- include grid_of_wallets_platform.html platform = "bearer"   platformPosts = site.bearer -%}
  {%- endfor -%}
</table>

</div>
