{% include base_path %}

<div class="masthead" {% if site.environment == "development" %}
  style="background-color: #83ae23"
{% endif %}>
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
        <a class="masthead-logo-link" href="{{ base_path }}/" alt="{{ site.title }}"><img class="masthead-logo" src="{{ base_path }}/images/logo_2020-dark.svg" alt="{{ site.title }}" title="{{ site.title }}" /></a>
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li><a class="theme-parent" onclick="toggleTheme()"><i class="fas fa-moon">&nbsp;<label>dark</label></i><i class="fas fa-sun">&nbsp;<label>light</label></i></a></li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<script>
  document.body.classList.add(window.theme);
  function toggleTheme(){
    if(window.theme!=="dark"){
      window.theme="dark";
      localStorage.setItem('colour-scheme','dark');
      document.body.classList.remove("light");
      document.body.classList.add("dark");
    }else
    {
      window.theme="light";
      localStorage.setItem('colour-scheme','light');
      document.body.classList.remove("dark");
      document.body.classList.add("light");
    }
  }
</script>
